npm install react-router-dom
npm install @material-ui/core
npm install @material-ui/icons
npm install fontsource-roboto
npm install axios
npm install firebase
npm install redux react-redux
npm install redux-thunk
npm install @reduxjs/toolkit
npm install env-cmd
npm install react-i18next i18next
npm install i18next-browser-languagedetector
npm install -g firebase-tools